[submodule "Vast/Vendor/spdlog"]
	path = Vast/Vendor/spdlog
	url = https://github.com/LesterDigital/spdlog.git
[submodule "Vast/Vendor/glfw"]
	path = Vast/Vendor/glfw
	url = https://github.com/LesterDigital/glfw.git
[submodule "Vast/Vendor/imgui"]
	path = Vast/Vendor/imgui
	url = https://github.com/LesterDigital/imgui.git
